<div class="col-xs-12 col-sm-9 left-block bgfff<?php if($php_mobile): ?>p40<?php endif; ?> left-block-addpad">
    <?php if($php_mobile): ?>
    <div class="mobile_version">
        <button class="btn btn-primary back-style">< 返回</button>
    </div>
    <?php endif; ?>
    <volist name="data" id="info">
    <div class="left-block mb25" id="job_etails1">
        <h2 class="job_title_1" <?php if($php_mobile): ?>style="font-weight:200;"<?php endif; ?>><img class="imgwrap1" src="__PUBLIC__/static/img/finance_tuandui.png" alt="">{$info.position} <span class="totle">({$info.num}人)</span></h2>
        <?php if($recruit_mobile): ?><p class="email mb20">投递邮箱：{$info.email}</p><?php endif ?>
        <h4 class="job_title_2" <?php if($php_mobile): ?>style="margin:15px 0;font-weight:300;"<?php endif; ?>><img class="imgwrap2" src="__PUBLIC__/static/img/finance_xiaomiao.png" alt="">岗位要求：</h4>
        <div class="content fw200">{:nl2br($info['require'])}</div>
        <h4 class="job_title_2" <?php if($php_mobile): ?>style="margin-top:35px;font-weight:300;"<?php endif; ?>><img class="imgwrap2" src="__PUBLIC__/static/img/finance_xiaomiao.png" alt="">岗位职责：</h4>
        <p class="content fw200">{:nl2br($info['duty'])}</p>
        <?php if(!$recruit_mobile): ?><p class="email mt20 mb40">投递邮箱：{:nl2br($info['email'])}</p><?php endif ?>
    </div>
    </volist>
</div>
