<div class="mobile h100">
	<div class="home-secondblock h100">
	  <div class="container relative">
	  	<div class="row">
	  		<!-- Nav tabs -->				  	
	  		<ul class="nav nav-tabs" role="tablist">
	  			<li role="presentation" class="active">
	  				<a href="#mobile_buycar" role="tab" data-toggle="tab">分期买车</a>
	  			</li>
	  			<li role="presentation">
	  				<a>/</a>
	  			</li>
	  			<li role="presentation">
	  				<a href="#mobile_purchase" role="tab" data-toggle="tab">分期进货</a>
	  			</li>
	  		</ul>

	  		<!-- Tab panes -->				  	
	  		<div class="tab-content">
	  			<div role="tabpanel" class="tab-pane fade in active" id="mobile_buycar">
					<div id="buy_car" class="carousel slide" data-ride="carousel" style="width:100%;">
					
						<ol class="carousel-indicators">	
							<li data-target="#buy_car" data-slide-to="0" class="active">1<img src="__PUBLIC__/static/img/next.png" alt=""></li>
							<li data-target="#buy_car" data-slide-to="1">2<img src="__PUBLIC__/static/img/next.png" alt=""></li>
							<li data-target="#buy_car" data-slide-to="2">3<img src="__PUBLIC__/static/img/next.png" alt=""></li>
							<li data-target="#buy_car" data-slide-to="3">4</li>
						</ol>

								
						<div class="carousel-inner" role="listbox">
							<div class="item active">
							  <img  class="mobile-img1" src="__PUBLIC__/static/img/xiang.png" alt="">
							</div>
							<div class="item">
							  <p class="mobile-img2-title">进门店</p><p class="mobile-img3-title">选车</p>
							  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
								<img  class="mobile-img3" src="__PUBLIC__/static/img/mobile_jinmen.png" alt="">
								<img  class="mobile-img4" src="__PUBLIC__/static/img/purchase_vendor.png" alt="">		
							</div>
							<div class="item">
							  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
								<img  class="mobile-img6" src="__PUBLIC__/static/img/nongming.png" alt="">
								<img  class="mobile-img7" src="__PUBLIC__/static/img/purchase_vendor.png" alt="">	
								<img  class="mobile-img8" src="__PUBLIC__/static/img/mobile_shenhe.png" alt="">		
							</div>
							<div class="item">
							  <p class="mobile-img9-title">骑车回家啰</p>
						      <img  class="mobile-img9" src="__PUBLIC__/static/img/mobile_huijia.png" alt="">
						  </div>
						</div>
					</div>
	  			</div>

	  			<div role="tabpanel" class="tab-pane fade" id="mobile_purchase">
						<div id="restore" class="carousel" data-ride="carousel" style="width:100%;">
							<!-- Indicators -->			
							<ol class="carousel-indicators">	
								<li data-target="#restore" data-slide-to="0" class="active">1<img src="__PUBLIC__/static/img/next.png" alt=""></li>
								<li data-target="#restore" data-slide-to="1">2<img src="__PUBLIC__/static/img/next.png" alt=""></li>
								<li data-target="#restore" data-slide-to="2">3<img src="__PUBLIC__/static/img/next.png" alt=""></li>
								<li data-target="#restore" data-slide-to="3">4</li>
							</ol>
							<!-- Wrapper for slides -->			
							<div class="carousel-inner" role="listbox">
								<div class="item active">
								  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
								  <img  class="mobile-img10" src="__PUBLIC__/static/img/purchase_vendor.png" alt="">
								  <img  class="mobile-img11" src="__PUBLIC__/static/img/purchase_xiang.png" alt="">
								</div>
								<div class="item">
								  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
									<img  class="mobile-img10" src="__PUBLIC__/static/img/purchase_vendor.png" alt="">
									<img  class="mobile-img8" src="__PUBLIC__/static/img/purchase_shenhe.png" alt="">		
								</div>
								<div class="item">
								  <p class="mobile-img12-title">收货啦~</p>
								  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
									<img  class="mobile-img12" src="__PUBLIC__/static/img/purchase_kache.png" alt="">
								</div>
								<div class="item">
								  <img  class="mobile-img2" src="__PUBLIC__/static/img/mobile_dian.png" alt="">
									<img  class="mobile-img12" src="__PUBLIC__/static/img/purchase_che.png" alt="">	
								</div>
							</div>
						</div>	  		
	  			</div>

	  		</div>

	  	</div>
	  </div>	
	</div>    	
</div>